---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import CardShowcase from '../components/CardShowcase.astro';
import TokenInfo from '../components/TokenInfo.astro';
import HowToBuy from '../components/HowToBuy.astro';
import Community from '../components/Community.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <CardShowcase />
    <TokenInfo />
    <HowToBuy />
    <Community />
  </main>
  <Footer />
</Layout>
